@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?t8b3bj');
  src:  url('fonts/icomoon.eot?t8b3bj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?t8b3bj') format('truetype'),
    url('fonts/icomoon.woff?t8b3bj') format('woff'),
    url('fonts/icomoon.svg?t8b3bj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-right:before {
  content: "\e900";
}
.icon-chevron-left:before {
  content: "\e901";
}
.icon-stopwatch:before {
  content: "\e952";
}
.icon-calendar:before {
  content: "\e953";
}
